.env
Betsson/__pycache__
betsson.co/config/__pycache__/
Betsson/__pycache__/__init__.cpython-312.pyc
betsson.co/exploracion_manual/__pycache__/
betsson.co/betsson_co/__pycache__/
casas_de_apuestas\catalogo_de_deportes.json
venv/